h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
}
.section {
  width: 375px;
  margin: 0 auto;
}
/* PAGE HEADER */
.container {
  width: 375px;
  height: 100px;
}
.page-header {
  background-image: url(../image/road.jpg);
  background-size: contain;
  width: 375;
  height: 200px;
}
.mobile-page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-logo {
  width: 96px;
  height: 64px;
  margin-left: 15px;
  margin-top: 5px;
}
.page-nav {
  visibility: hidden;
}
.burger-btn {
  width: 35px;
  height: 35px;
  margin-top: 15px;
  margin-right: 15px;
  background-color: rgba(219, 219, 219, 0.81);
  cursor: pointer;
}

.page-list-lng {
  position: absolute;
  top: 5%;
  left: 66%;
  display: flex;
  gap: 10px;
}
.page-link-lng {
  font-weight: 700;
  font-size: 20px;
  color: rgba(133, 34, 34, 0.831);
  border: 1px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.674);
}
